{% extends 'base.html' %}

{% block title %}
{{ super() }} - {{ title }}
{% endblock %}

{% block content %}
<div class="container">
    <h1>Одежда</h1>
    <div class="menu">
        <div>
            <a href="{{ url_for('clothes') }}"><img src="{{ url_for('static', filename='img/clothes1.png') }}" alt="clothes1"></a>
            <hr>
            <p><strong>Цена: 100 $ </strong></p>
            <hr>
        </div>
        <div>
            <a href="{{ url_for('clothes') }}"><img src="{{ url_for('static', filename='img/clothes2.png') }}" alt="clothes2"></a>
            <hr>
            <p><strong>Цена: 200 $ </strong></p>
            <hr>
        </div>
        <div>
            <a href="{{ url_for('clothes') }}"><img src="{{ url_for('static', filename='img/clothes3.png') }}" alt="clothes3"></a>
            <hr>
            <p><strong>Цена: 300 $ </strong></p>
            <hr>
        </div>
    </div>
</div>
<div class="footer">
    <div class="container">
        All rights reserved (c)
    </div>
</div>
{% endblock %}